body {
  color: var(--text-primery-color);
  background-color: var(--bg-primery-color);
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
}

input {
  outline: none;
}

ul,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

svg {
  fill: currentColor;
}
