:root {
  // Text
  --text-primery-color: #000000;
  --text-secondary-color: #ffffff;
  --text-accent-color: #d41443;
  --text-lable-color: #ffa5ba;
  --text-about-color: #907e82;
  --text-contacts-color: #907e82;
  --text-btn-color: #ffffff;
  --text-btn-accent-color: #d41443;
  --text-footer-marks-color: #f0d1a5;

  // Background-color
  --bg-primery-color: #ffffff;
  --linear-gradient: #fff5f6;
  --bg-product1: #ffb8ca;
  --bg-product2: #f0d1a5;
  --bg-product3: #c2e297;
  --bg-contacts1: #f0d1a5;
  --bg-contacts2: #c2e297;
  --bg-contacts3: #f0d1a5;
  --bg-btn-color: #ffffff;
  --bg-btn-accent-color: #d41443;
  --bg-comma-color: #e1e1e1;
  --bg-icon-accent-color: #fea5bb;
  --bg-icon-hover-color: #d41443;
  --bg-btn-hover: #ecebeb;
  --bg-menu-color: #e17992;
  --bg-customer-color: #fafafa;

  // Other
  --bg-button-color: #d41342;
  --icon-color: #ffffff;
  --icon-accent-color: #ffa5ba;
  --border-line-color: #e1e1e1;
  --font-family-secondary: 'Titan One', sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-customer-slider: #d9d9d9;
  --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --test: white;
}
