<section class="section section__advantages" id="about">
    <div class="container">


    <h2 class="visually-hidden">
       Переваги компанії
    </h2>


    <ul class="advantages-list">

        <li class="advantages-list__item">
            <h3 class="advantages-list__aftertitle advantages-pseudoelement__721">
                721
            </h3>
            <p class="advantages-list__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>


        <li class="advantages-list__item">
            <h3 class="advantages-list__aftertitle advantages-pseudoelement__16kg">
                16kg
            </h3>
            <p class="advantages-list__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>

        <li class="advantages-list__item">
            <h3 class="advantages-list__aftertitle advantages-pseudoelement__84">
                84
            </h3>
            <p class="advantages-list__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>




    </ul>




    </div>
</section>