<section class="contacts-section section" id="contact">
  <h2 class="contacts-section__title visually-hidden">Contacts</h2>
  <div class="contacts-container container">
    <h2 class="contacts-section__title visually-hidden">Contacts</h2>
    <ul class="contacts-section__list list">
      <li class="contacts-section__item">
        <span
          class="contacts-sectionitem-category contacts-sectionitem-category--brown"
          >CAFE</span
        >
        <div class="contacts-location">
          <h3 class="contacts-location__city">Chicago</h3>
          <p class="contacts-location__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="working-schedule">
          <p class="working-schedule__days">Monday - Friday</p>
          <data
            class="working-schedule__hours"
            itemprop="openingHours"
            value="06:00-22:00"
            >06:00 AM - 10:00 PM</data
          >
          <p class="working-schedule__days">Saturday - Sunday</p>
          <data
            class="working-schedule__hours"
            itemprop="openingHours"
            value="08:00-16:00"
            >08:00 AM - 16:00 PM</data
          >
        </div>
        <div class="contacts-section__contacts">
          <a class="contacts-section__contacts--item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-section__contacts--item"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-section__item">
        <span
          class="contacts-sectionitem-category contacts-sectionitem-category--green"
          >FOODTRUCK</span
        >
        <div class="contacts-location">
          <h3 class="contacts-location__city">Los Angeles</h3>
          <p class="contacts-location__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="working-schedule">
          <p class="working-schedule__days">Monday - Friday</p>
          <data
            class="working-schedule__hours"
            itemprop="openingHours"
            value="06:00-22:00"
            >06:00 AM - 10:00 PM</data
          >
          <p class="working-schedule__days">Saturday - Sunday</p>
          <data
            class="working-schedule__hours"
            itemprop="openingHours"
            value="08:00-16:00"
            >08:00 AM - 16:00 PM</data
          >
        </div>
        <div class="contacts-section__contacts">
          <a class="contacts-section__contacts--item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-section__contacts--item"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-section__item">
        <span
          class="contacts-sectionitem-category contacts-sectionitem-category--brown"
          >CAFE</span
        >
        <div class="contacts-location">
          <h3 class="contacts-location__city">New York</h3>
          <p class="contacts-location__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="working-schedule">
          <p class="working-schedule__days">Monday - Friday</p>
          <data
            class="working-schedule__hours"
            itemprop="openingHours"
            value="06:00-22:00"
            >06:00 AM - 10:00 PM</data
          >
          <p class="working-schedule__days">Saturday - Sunday</p>
          <data
            class="working-schedule__hours"
            itemprop="openingHours"
            value="08:00-16:00"
            >08:00 AM - 16:00 PM</data
          >
        </div>
        <div class="contacts-section__contacts">
          <a class="contacts-section__contacts--item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-section__contacts--item"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts-section__buttons">
      <button
        class="contacts-section__buttons-locations button"
        type="button"
        data-modal-open
      >
        Our Locations
        <svg class="buttons__icon">
          <use href="./images/icons.svg#vector"></use>
        </svg>
      </button>
      <button class="contacts-section__buttons-franchise button" type="button">
        Franchise
        <svg class="buttons__icon button__icon-franchise">
          <use href="./images/icons.svg#vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div class="contacts-backdrop is-hidden" data-modal>
  <div class="contacts-modal">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11885.168976334173!2d-87.66355579218747!3d41.8650584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cf03d787bb1%3A0xa925eb010f4861c0!2sCold%20Stone%20Creamery!5e0!3m2!1sru!2sua!4v1660679521295!5m2!1sru!2sua"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <button class="modal__button-close" type="button" data-modal-close>
      X
    </button>
  </div>
</div>

<div class="contacts-backdrop__franchise is-hidden">
  <div class="contacts-backdrop__modal-franchise">
    <button class="modal-franchise__button-close">X</button>
    <h2 class="modal-franchise__title">Low-Cost Franchise</h2>
    <p class="modal-franchise-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vitae maiores
      quis minus esse dicta a dolorem nam delectus odit.
    </p>
    <form>
      <div class="franchise-form__container">
        <label class="franchise-form__label" for="name">Name</label>
        <input
          class="franchise-form__input"
          type="text"
          id="name"
          placeholder="Bob"
        />
      </div>
      <div class="franchise-form__container">
        <label class="franchise-form__label" for="Surname">Surname</label>
        <input
          class="franchise-form__input"
          type="text"
          id="Surname"
          placeholder="Richards"
        />
      </div>
      <div class="franchise-form__container">
        <label class="franchise-form__label" for="tel">Phone number</label>
        <input
          class="franchise-form__input"
          type="tel"
          id="tel"
          placeholder="+38 (0xx) xxx xx xx"
        />
      </div>
      <button
        class="contacts-section__buttons-franchise button-submit button"
        type="submit"
      >
        Submit
        <svg class="buttonsicon buttonicon-franchise">
          <use href="./images/icons.svg#vector"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
