<section class="customer-reviews section">
  <div class="container">
    <h2 class="visually-hidden">Сustomer review</h2>
    <div class="customer-reviews__container-image">
      <img
        src="./images/customer-reviews/customer-reviews1-320.png"
        alt="Customer image"
        class="customer-reviews__image"
      />
    </div>
    <div class="customer-reviews__text-container">
      <p class="customer-reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <p class="customer-reviews__sign">Emily, Los Angeles</p>
  </div>
</section>
