<footer class="footer">
  <div class="container">
    <div class="section-footer">
      <div class="footer__logo">
        <p class="footer__sublogo">homemade ice cream made</p>
        with passion
      </div>
      <div>
        <ul class="social-links">
          <li class="social-links__item">
            <a
              class="social-links__link"
              href="https://github.com/kuzen0211/team-proj"
              target="_blank"
              aria-label="Github"
            >
              <svg width="34" height="34">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              class="social-links__link"
              href="https://telegram.org/"
              target="_blank"
              aria-label="Telegram"
            >
              <svg width="34" height="34">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              class="social-links__link"
              href="https://www.facebook.com/"
              target="_blank"
              aria-label="Facebook"
            >
              <svg width="34" height="34">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address class="footer__address">
          Feel free to contact
          <a href="tel:+61(0)383766284" class="footer__tel"
            >+61 (0) 383 766 284</a
          >
        </address>
      </div>
    </div>
  </div>
  <div class="footer__end">
    <p class="footer__copyright">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
