<section class="gallary-conteiner">
  <h2 class="visually-hidden">Our gallery</h2>
  <div class="gallary-conteiner__box container">
    <div class="gallery-conteiner__items" data-aos="zoom-in">
      <picture>
        <source
          srcset="
            ./images/picture/pic1-360.jpg     44w,
            ./images/picture/pic1-360@2x.jpg  88w,
            ./images/picture/pic1-360@3x.jpg 132w
          "
          media="(max-width: 767px)"
          sizes="44px"
        />
        <source
          srcset="
            ./images/picture/pic1-767.jpg    105w,
            ./images/picture/pic1-767@2x.jpg 210w,
            ./images/picture/pic1-767@3x.jpg 315w
          "
          media="(min-width: 768px)"
          sizes="105px"
        />
        <source
          srcset="
            ./images/picture/pic1-1200.jpg    138w,
            ./images/picture/pic1-1200@2x.jpg 276w,
            ./images/picture/pic1-1200@3x.jpg 414w
          "
          media="(min-width: 1200px)"
          sizes="138px"
        />
        <img
          class="picture"
          src="./images/picture/pic1-1200.jpg"
          alt="picture-1"
        />
      </picture>
    </div>

    <div class="gallery-conteiner__content">
      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic2-360.jpg     44w,
              ./images/picture/pic2-360@2x.jpg  88w,
              ./images/picture/pic2-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic2-767.jpg    105w,
              ./images/picture/pic2-767@2x.jpg 210w,
              ./images/picture/pic2-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic2-1200.jpg    138w,
              ./images/picture/pic2-1200@2x.jpg 276w,
              ./images/picture/pic2-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic2-1200.jpg"
            alt="picture-2"
          />
        </picture>
      </div>

      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic3-360.jpg     44w,
              ./images/picture/pic3-360@2x.jpg  88w,
              ./images/picture/pic3-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic3-767.jpg    105w,
              ./images/picture/pic3-767@2x.jpg 210w,
              ./images/picture/pic3-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic3-1200.jpg    138w,
              ./images/picture/pic3-1200@2x.jpg 276w,
              ./images/picture/pic3-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic3-1200.jpg"
            alt="picture-3"
          />
        </picture>
      </div>
    </div>

    <div class="gallery-conteiner__content">
      <div class="gallery-conteiner__subitem" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic4-360.jpg     90w,
              ./images/picture/pic4-360@2x.jpg 180w,
              ./images/picture/pic4-360@3x.jpg 270w
            "
            media="(max-width: 767px)"
            sizes="90px"
          />
          <source
            srcset="
              ./images/picture/pic4-767.jpg    215w,
              ./images/picture/pic4-767@2x.jpg 430w,
              ./images/picture/pic4-767@3x.jpg 545w
            "
            media="(min-width: 768px)"
            sizes="215px"
          />
          <source
            srcset="
              ./images/picture/pic4-1200.jpg    283w,
              ./images/picture/pic4-1200@2x.jpg 566w,
              ./images/picture/pic4-1200@3x.jpg 849w
            "
            media="(min-width: 1200px)"
            sizes="283px"
          />
          <img
            class="picture"
            src="./images/picture/pic4-1200.jpg"
            alt="picture-4"
          />
        </picture>
      </div>

      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic5-360.jpg     44w,
              ./images/picture/pic5-360@2x.jpg  88w,
              ./images/picture/pic5-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic5-767.jpg    105w,
              ./images/picture/pic5-767@2x.jpg 210w,
              ./images/picture/pic5-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic5-1200.jpg    138w,
              ./images/picture/pic5-1200@2x.jpg 276w,
              ./images/picture/pic5-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic5-1200.jpg"
            alt="picture-5"
          />
        </picture>
      </div>
    </div>

    <div class="gallery-conteiner__content gallery-conteiner__content--indent">
      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic6-360.jpg     44w,
              ./images/picture/pic6-360@2x.jpg  88w,
              ./images/picture/pic6-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic6-767.jpg    105w,
              ./images/picture/pic6-767@2x.jpg 210w,
              ./images/picture/pic6-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic6-1200.jpg    138w,
              ./images/picture/pic6-1200@2x.jpg 276w,
              ./images/picture/pic6-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic6-1200.jpg"
            alt="picture-6"
          />
        </picture>
      </div>

      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic7-360.jpg     44w,
              ./images/picture/pic7-360@2x.jpg  88w,
              ./images/picture/pic7-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic7-767.jpg    105w,
              ./images/picture/pic7-767@2x.jpg 210w,
              ./images/picture/pic7-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic7-1200.jpg    138w,
              ./images/picture/pic7-1200@2x.jpg 276w,
              ./images/picture/pic7-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic7-1200.jpg"
            alt="picture-7"
          />
        </picture>
      </div>
    </div>

    <div class="gallery-conteiner__list gallery-conteiner__list--fix">
      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic8-360.jpg     44w,
              ./images/picture/pic8-360@2x.jpg  88w,
              ./images/picture/pic8-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic8-767.jpg    105w,
              ./images/picture/pic8-767@2x.jpg 210w,
              ./images/picture/pic8-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic8-1200.jpg    138w,
              ./images/picture/pic8-1200@2x.jpg 276w,
              ./images/picture/pic8-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic8-1200.jpg"
            alt="picture-8"
          />
        </picture>
      </div>

      <div class="gallery-conteiner__item" data-aos="zoom-in">
        <picture>
          <source
            srcset="
              ./images/picture/pic9-360.jpg     44w,
              ./images/picture/pic9-360@2x.jpg  88w,
              ./images/picture/pic9-360@3x.jpg 132w
            "
            media="(max-width: 767px)"
            sizes="44px"
          />
          <source
            srcset="
              ./images/picture/pic9-767.jpg    105w,
              ./images/picture/pic9-767@2x.jpg 210w,
              ./images/picture/pic9-767@3x.jpg 315w
            "
            media="(min-width: 768px)"
            sizes="105px"
          />
          <source
            srcset="
              ./images/picture/pic9-1200.jpg    138w,
              ./images/picture/pic9-1200@2x.jpg 276w,
              ./images/picture/pic9-1200@3x.jpg 414w
            "
            media="(min-width: 1200px)"
            sizes="138px"
          />
          <img
            class="picture"
            src="./images/picture/pic9-1200.jpg"
            alt="picture-9"
          />
        </picture>
      </div>
    </div>

    <div class="gallery-conteiner__items" data-aos="zoom-in">
      <picture>
        <source
          srcset="
            ./images/picture/pic10-360.jpg     44w,
            ./images/picture/pic10-360@2x.jpg  88w,
            ./images/picture/pic10-360@3x.jpg 132w
          "
          media="(max-width: 767px)"
          sizes="44px"
        />
        <source
          srcset="
            ./images/picture/pic10-767.jpg    105w,
            ./images/picture/pic10-767@2x.jpg 210w,
            ./images/picture/pic10-767@3x.jpg 315w
          "
          media="(min-width: 768px)"
          sizes="105px"
        />
        <source
          srcset="
            ./images/picture/pic10-1200.jpg    138w,
            ./images/picture/pic10-1200@2x.jpg 276w,
            ./images/picture/pic10-1200@3x.jpg 414w
          "
          media="(min-width: 1200px)"
          sizes="138px"
        />
        <img
          class="picture"
          src="./images/picture/pic10-1200.jpg"
          alt="picture-10"
        />
      </picture>
    </div>
  </div>
</section>
