<section class="section" id="products">
  <div class="container">
    <span class="products__title">100% natural</span>
    <h2 class="products__title-caption">products</h2>
    <ul class="products__list">
      <li class="products-type products__section-cream">
        <div class="products__input products__input-cream">
          <h3 class="products__title-chapter">ice cream</h3>
          <p class="products__title-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <!-- <span class="products__title-text-visible">
              dolore magna aliqua facilisis.</span
            > -->
          </p>
          <button class="products__btn" type="button" aria-label="expand fully">
            <svg class="products__btn-icon">
              <use
                href="./images/products/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-type products__section-coffee">
        <div class="products__input products__input-coffee">
          <h3 class="products__title-chapter">ice coffee</h3>
          <p class="products__title-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <!-- <span class="products__title-text-visible"
              >dolore magna aliqua facilisis.</span
            > -->
          </p>
          <button class="products__btn" type="button" aria-label="expand fully">
            <svg class="products__btn-icon">
              <use
                href="./images/products/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-type products__section-milk">
        <div class="products__input products__input-milk">
          <h3 class="products__title-chapter">milkshakes</h3>
          <p class="products__title-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <!-- <span class="products__title-text-visible">
              dolore magna aliqua facilisis.
            </span> -->
          </p>
          <button
            class="products__btn"
            type="button"
            aria-label="expand fully"
            id="show-bar"
          >
            <svg class="products__btn-icon">
              <use
                href="./images/products/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
