.social-links {
  display: flex;
  justify-content: end;
  gap: 28px;

  padding-bottom: 40px;

  @media screen and (max-width: 1199px) {
    padding-top: 40px;
  }
}

.social-links__item {
}

.social-links__link {
  display: flex;

  color: var(--icon-color);
  background-color: var(--bg-icon-accent-color);
  border-radius: 50%;

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--bg-icon-hover-color);
  }
}
